{% extends 'wrapper.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col " >
          <nav class="navbar bg-body-tertiary">
            <form class="container-fluid justify-content-start">
              <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Emunsa Qoshish</button>
            </form>
          </nav><!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Emunsa Qoshish </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control" placeholder="Yangi Emunsa" required name="product"  aria-label="" aria-describedby="basic-addon1">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">ok</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rangi</th>
                    <th scope="col">Kl</th>
                    <th scope="col">Narh</th>
                    <th scope="col">Ritsep Qoshish </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   {% for i in product %}
                    <th scope="row">{{ forloop.counter }}</th>
                    <td> {{i.name }}</a></td>
                    <td> 20   kl</td>
                    <td> {{ i.sum|floatformat:"1"}} sum</td>
                    <td> <a href="/detail/{{i.id}}"class="btn btn-dark"> Ritsep </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock content %}