{% extends 'wrapper.html' %}
{% block content %}
{% load i18n %}
<div class="form-group">
    <div class="row">
        <div class="col-3">

            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#inlineForm">
             
              {% trans "Add" %}
            </button>
        </div>
        <div class="col-5">
            <div class="input-group">

                <input type="search" id="form1" class="form-control" placeholder="Search">
            </div>
        </div>
 

      </div>
    <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel33"> {% trans "Add Payment" %}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-1">
                        <label for="amount" class="form-label"> {% trans "Som" %}</label>
                        <input type="number" name="amount" required id="payment_amount" class="form-control" placeholder="Summa">
                    </div>
                    <div class="form-group mb-1">
                        <label for="description" class="form-label"> {% trans "Comment" %}</label>
                        <input type="text" name="payment_description" required id="payment_description" class="form-control" placeholder="Izoh">
                    </div>
                    <div style="display: none !important;">
                      
                        <input type="text" name="csrfmiddlewaretoken" value="{{csrf_token}}" >
                    </div>
                    <div style="display: none !important;">
                        <input type="number" name="payment_payment_type" value="1" id="payment_payment_type">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                       
                            <span > {% trans "Close" %}</span>
                        </button>
                        <button type="button" class="btn btn-primary ms-1" id="payment_create">
                           
                            <span >  {% trans "Save" %}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section">
    <div class="row" id="basic-table">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="table-responsive">
                            <h4>Kirimlar</h4>
                            <table class="table table-lg">
                                <thead>
                                    <tr>
                                        <th> {% trans "Date" %}</th>
                                        
                                        <th> {% trans "Child" %}</th>
                                        <th>{% trans "Som" %}</th>
                                        <th> {% trans "Who is" %}</th>
                                        <th> {% trans "Info" %}</th>
                                    </tr>
                                </thead>
                                <tbody id="search-results">
                                    {% for p in payment %}
                                    <tr>
                                        <td class="text-bold-500" data-bs-toggle="modal" {% if request.user.is_main %}  data-bs-target="#inlineForm{{ p.id }}" {% endif %}>
                                            <a style="color: blue;">{{ p.date|date:"d-m-Y" }}</a>
                                        </td>
                                       
                                        <td class="text-bold-500">{{ p.child.name }} </td>
                                        <td class="text-bold-500">{{ p.amount }}</td>
                                        <td class="text-bold-500">{{ p.user }}</td>
                                        <td class="text-bold-500"> 
                                            <a href="#"  id="info-{{p.id}}" 
                                            data-izoh="{{p.description}}"
                                            data-user="{{p.user}}"
                                            data-user_before_cash="{{p.user_before_cash}}"
                                            data-user_after_cash="{{p.user_after_cash}}"
                                            >{% trans "Info" %}</a> </td>
                                    </tr>
                                  
                                            <div class="modal fade text-left" id="inlineForm{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myModalLabel33">{% trans "Update" %} {{ p.child.name }} </h4>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form method="post" id="paymentForm{{ p.id }}" onsubmit="event.preventDefault(); updatePayment('{{ p.id }}');">
                                                                {% csrf_token %}
                                                                <div class="form-group mb-1">
                                                                    <label for="summa{{ p.id }}" class="form-label">{% trans 'Som' %}</label>
                                                                    <input type="number" step="any"  required id="summa{{ p.id }}" name="amount" value="{{ p.amount }}" class="form-control">
                                                                </div>
                                                                <div class="form-group mb-1">
                                                                    <label for="date_month{{ p.id }}" class="form-label">{% trans "Month" %} {{ p.date_month | date:"M" }}</label>
                                                                    <input type="date" id="date_month{{ p.id }}" name="date_month" required class="form-control" value="{{ p.date_month|date:'Y-m-d' }}">
                                                                </div>
                                                                <div style="display: none !important;">
                      
                                                                    <input type="text" name="csrfmiddlewaretoken" value="{{csrf_token}}" >
                                                                </div>
                                                                <div class="form-group mb-1">
                                                                    <label for="description{{ p.id }}" class="form-label">{% trans "Comment" %}</label>
                                                                    <input type="text" id="description{{ p.id }}" name="description" value="{{ p.description }}" class="form-control" placeholder="Izoh">
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                                                        <span >{% trans "Close" %}</span>
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary ms-1">
                                                                        <span> {% trans "Save" %}</span>
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                     
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% if payment.paginator.num_pages > 1 %}
<nav aria-label="Page navigation example">
    <ul class="pagination pagination-primary justify-content-end">
        {% if payment.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ payment.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="First">
                    <span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                </a>
            </li>
        {% endif %}

        {% for num in payment.paginator.page_range %}
            {% if payment.number == num %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ num }}</a>
                </li>
            {% elif num > payment.number|add:-3 and num < payment.number|add:3 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if payment.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ payment.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ payment.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Last">
                    <span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updatePayment(paymentId) {
        const amount = document.getElementById(`summa${paymentId}`).value;
        const dateMonth = document.getElementById(`date_month${paymentId}`).value;
        const description = document.getElementById(`description${paymentId}`).value;
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        fetch('{% url "update-payment" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrfToken
            },
            body: new URLSearchParams({
                'payment_id': paymentId,
                'amount': amount,
                'date_month': dateMonth,
                'description': description
            })
        }).then(response => response.json()).then(data => {
            if (data.status === 'success') {
                // Modal oynani yopish
                var modal = bootstrap.Modal.getInstance(document.getElementById(`inlineForm${paymentId}`));
                modal.hide();
                
                // Jadvaldagi ma'lumotlarni yangilash
                const row = document.querySelector(`#inlineForm${paymentId}`).closest('tr');
                if (row) {
                    row.previousElementSibling.querySelector('.text-bold-500:nth-child(2)').textContent = data.date;
                    row.previousElementSibling.querySelector('.text-bold-500:nth-child(2)').textContent = data.amount;
                    row.previousElementSibling.querySelector('.text-bold-500:nth-child(3)').textContent = data.user;
                    row.previousElementSibling.querySelector('.text-bold-500:nth-child(6)').textContent = data.description;
                } else {
                    console.error('Element topilmadi!');
                }
            } else {
                console.error('Update failed:', data.message);
            }
        }).catch(error => console.error('Xato:', error));
    }




    document.getElementById('payment_create').addEventListener('click', function() {
    const amount = document.getElementById('payment_amount').value;
    const description = document.getElementById('payment_description').value;
    const paymentType = document.getElementById('payment_payment_type').value;
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    console.log(paymentType)
    fetch('/{{ request.LANGUAGE_CODE }}/payment-create/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': csrfToken
        },
        body: new URLSearchParams({
            'amount': amount,
            'description': description,
            'paymentType': paymentType
        })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        if (data.status === 'success') {
            // Modal oynani yopish
            var modal = bootstrap.Modal.getInstance(document.getElementById('inlineForm'));
            modal.hide();
            
            // Jadvalga yangi qator qo'shish
            const tableBody = document.querySelector('table tbody');
            const newRow = document.createElement('tr');
            const date = new Date(data.date);
            const options = { year: 'numeric', month: 'short', day: 'numeric' };
            const formattedDate = date.toLocaleDateString('en-US', options);

            newRow.innerHTML = `
                <tr>
                    <td class="text-bold-500" data-bs-toggle="modal" data-bs-target="#inlineForm${data.payment_id}">
                        <a style="color: blue;">${formattedDate}</a>
                    </td>
                    <td class="text-bold-500"></td>
                    <td class="text-bold-500">${data.amount}</td>
                    <td class="text-bold-500">${data.user}</td>
                    <td class="text-bold-500">Info</td>
                </tr>
                <tr>
  
            `;
            tableBody.appendChild(newRow);
        } else {
            console.error('Create failed:', data.message);
        }
    })
    .catch(error => console.error('Xato:', error));
});




const Swal2 = Swal.mixin({
  customClass: {
    input: 'form-control'
  }
})

const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})


document.querySelectorAll('[id^="info-"]').forEach(button => {
  button.addEventListener("click", (e) => {
    const izoh = e.target.getAttribute('data-izoh');
    const user = e.target.getAttribute('data-user');
    const user_before = e.target.getAttribute('data-user_before_cash');
    const user_after = e.target.getAttribute('data-user_after_cash');
    console.log(user_after)
    Swal2.fire({
      icon: "info",
      title: ` ${user} oldin ${user_before} Sum \n
      kegin ${user_after}  Sum \n 
      ${izoh}`,
      
    });
  });
});






$(document).ready(function() {
    // search inputiga event listener qo'shish
    $('#form1').on('keyup', function() {
        let query = $(this).val();
        if (query.length > 2) {
            $.ajax({
                url: '/search-payment/',  // O'z URL manzilingizni kiriting
                data: {
                    'query': query
                },
                dataType: 'json',
                success: function(data) {
                    let tbody = $('#search-results');
                    tbody.empty();  // Jadvalning tanlangan qismidagi eski natijalarni tozalash
                    
                    $.each(data, function(index, item) {
                        let row = `
                            <tr>
                                <td class="text-bold-500"  data-bs-toggle="modal" data-bs-target="#inlineForm${item.id}">
                                    <a style="color: blue;">${item.date}</a>
                                </td>
                                <td class="text-bold-500">${item.child__name}</td>
                                <td class="text-bold-500">${item.amount}</td>
                                <td class="text-bold-500">${item.user__username}</td>
                                <td class="text-bold-500">
                                    <a href="#" id="info-${index}" 
                                        data-izoh="${item.description}"
                                        data-user="${item.user__username}"
                                        data-user_before_cash="${item.user_before_cash || ''}"
                                        data-user_after_cash="${item.user_after_cash || ''}"
                                        >Info</a>
                                </td>
                            </tr>
                            <div class="modal fade text-left" id="inlineForm{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myModalLabel33">Tahrirlash  </h4>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form method="post" id="paymentForm{{item.id}}" onsubmit="event.preventDefault(); updatePayment('{{ item.id }}');">
                                                                {% csrf_token %}
                                                                <div class="form-group mb-1">
                                                                    <label for="summa{{ p.id }}" class="form-label">Summa</label>
                                                                    <input type="number" required id="summa{{item.id}}" name="amount" value="{{ item.amount }}" class="form-control" placeholder="Summa">
                                                                </div>
                                                                <div class="form-group mb-1">
                                                                    <label for="date_month{{ p.id }}" class="form-label">Tanlangan oy {{ item.date_month | date:"M" }}</label>
                                                                    <input type="date" id="date_month{{item.id}}" name="date_month" required class="form-control" value="{{ item.date_month|date:'Y-m-d' }}">
                                                                </div>
                                                                <div class="form-group mb-1">
                                                                    <label for="description{{ p.id }}" class="form-label">Izoh</label>
                                                                    <input type="text" id="description{{ item.id }}" name="description" value="{{ item.description }}" class="form-control" placeholder="Izoh">
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                                                        <span >Close</span>
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary ms-1">
                                                                        <span ">Save</span>
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>`;
                        tbody.append(row);  // Jadval qismiga yangi qator qo'shish
                    });

                    // Dinamik ravishda yaratilgan elementlar uchun event delegation
                    $(document).on('click', '[id^="info-"]', function(e) {
                        const izoh = $(this).data('izoh');
                        const user = $(this).data('user');
                        const user_before = $(this).data('user_before_cash');
                        const user_after = $(this).data('user_after_cash');

                        Swal.fire({
                            icon: "info",
                            title: `${user} oldin ${user_before} Sum\n
                                    kegin ${user_after} Sum\n 
                                    ${izoh}`,
                        });
                    });
                }
            });
        }
    });
});


</script>




{% endblock content %}