{% extends 'wrapper.html' %}
{% block content %}
{% load i18n %}
        
<style>
    @media (max-width: 767.98px) {
    #card {
        overflow-x: auto;
    }
    .table {
        width: 100%;
        min-width: 700px; /* Jadvalning minimal kengligini o'rnating */
    }
}
</style>
<div class="page-heading">

    <section class="section">
        <div class="row">
           
            <div class="col-xl-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body" id="card">
                        <h4>{% trans 'Tariffs' %}</h4>
                        <div class="table-responsive">
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    <th> {% trans 'Name' %}</th>
                                    
                                    <th> {% trans 'Som' %}</th>
                                    <th> {% trans 'Child' %}</th>
                                    <th> {% trans 'Employee' %}</th>
                                    <th> {% trans 'Groups' %}</th>
                                </tr>
                            </thead>
                            
                            
                            <tbody id="search-results">
                                {% for t in tarif %}
                               
                                <tr>
                                    <td class="text-bold-500">
                                        {{ t.name}}
                                    </td>
                                   
                                    <td class="text-bold-500">{{ t.summa }} </td>
                                    <td class="text-bold-500">{{ t.child }}</td>
                                    <td class="text-bold-500">{{ t.user }}</td>
                                    <td class="text-bold-500">{{ t.group }}</td>
                                  
                                 
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-4">
                                <span class="id-text">ID</span>
                             
                            </div>
                            <div class="col-md-8 form-group">
                                <span class="id-text">{{ request.user.company.company_id }}</span>
                            </div>
                        </div>              
                        <div class="row">

                            <div class="col-md-4">
                                <span class="id-text">{% trans 'Name' %}</span>
                                
                            </div>
                            <div class="col-md-8 form-group">
                                <span class="id-text">{{ request.user.company}}</span>
                            </div>
                        </div>             
                        <div class="row">

                            <div class="col-md-4">
                                <span class="id-text"> {% trans 'Work has begun' %}</span>
                                
                            </div>
                            <div class="col-md-8 form-group">
                                <span class="id-text">{{ request.user.company.created|date:"m d, Y" }}</span>
                            </div>
                        </div> 
                        <div class="row">

                            <div class="col-md-4">
                                <span class="id-text">{% trans 'Phone' %}</span>
                                
                            </div>
                            <div class="col-md-8 form-group">
                                <span class="id-text">{{ request.user.company.phone}}</span>
                            </div>
                        </div>
                    </div> 
                </div>

            </div>    
            
              <div class="col-xl-6 col-sm-12  col-12">
                {% if request.user.is_main %}
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="amount" class="form-label">{% trans 'Tariff' %} </label>
                                <select name="tarif" id="tarif" class="form-control">
                                <option value="{{request.user.company.tarif.id}}">{{request.user.company.tarif}}</option>
                                    {% for i in tarif %}
                                    {% if i.id != request.user.company.tarif.id %}
                                    <option value="{{ i.id }}"> {{ i.name }} </option>   
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div> 
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"> {% trans 'Save' %}</button>
                            </div>  
                        </form>
                    </div>
                </div>  
              {% endif %}   


             
                {% if request.user.is_main %}
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'working_day' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="amount" class="form-label"> {% trans 'Working day' %} </label>
                                <select name="working_day" id="tarif" class="form-control">
                                <option value="{{request.user.company.working_day}}">{{request.user.company.working_day}}</option>
                                    {% for i in working_day %}
                                    {% if i != request.user.company.working_day %}
                                        <option value="{{ i }}">{{ i  }} </option>   
                                    {% endif %}

                                    {% endfor %}
                                </select>
                            </div> 
                           

                            
                  
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"> {% trans 'Save' %}</button>
                            </div>  
                        </form>
                    </div>

                    </div>  
                    {% endif %}
                    <div class="card">
                        <br>
                        <div class="dropdown"  style="margin-left: 22px;">
                            <button href="#" class="btn bg-gradient-dark btn-sm   dropdown-toggle mb-0 me-2 mt-2 mt-md-0 " data-bs-toggle="dropdown" id="navbarDropdownMenuLink2">
                              {{ request.LANGUAGE_CODE|upper }}
                  
                           </button>
                           <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <li>
                                <a class="dropdown-item" href="{% url 'change_language' 'uz' %}" type="button">Uzbek</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'change_language' 'en' %}" type="button">English</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'change_language' 'ru' %}" type="button">Russian</a>
                            </li>
                  
                  
                           </ul>
                          </div>
                          <br>
                    </div>

                </div>  
              
            </div>    



        </div>
    </section>
</div>

{% endblock content %}