{% extends 'wrapper.html' %}
{% block content %}
{% load i18n %}

<section class="section">
    <div class="row" id="table-head">
        <div class="container mt-5">
            <div class="d-flex justify-content-between">
              <div class="text-start">
                <h5 class="text-bold-500">{% trans 'Tariffs' %}</h5>
              </div>
              <div class="text-end">
                <div class="col-md-6 col-12">
                                <div class="form-group">
                                    {% if request.user.is_main %}
                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#inlineForm">
                                        {% trans 'Add' %}
                                    </button>
                                    {% endif %}
                                    <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel33">{% trans 'Add tariff' %}</h4>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group mb-1">
                                                            <label for="name" class="form-label">{% trans 'Name' %}</label>
                                                            <input type="text" name="name" required id="name" class="form-control" placeholder="Name">
                                                        </div>

                                                        <div class="form-group mb-1">
                                                            <label for="status" class="form-label"> {% trans 'Status' %}</label>
                                                            <select name="status" id="status" class="form-control">
                                                                {% for i in status %}
                                                                <option value="{{ i.0 }}">{{ i.1 }}  </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="form-group mb-1">
                                                            <label for="amount" class="form-label">  {% trans 'Som' %}</label>
                                                            <input type="number" name="amount" required id="amount" class="form-control">
                                                        </div> 

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                                             
                                                                <span>  {% trans 'Close' %}</span>
                                                            </button>
                                                            <button type="submit" class="btn btn-primary ms-1">
                                                                
                                                                <span > {% trans 'Save' %}</span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                        
                                </div>
         
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>


        <div class="col-12">

            
            <div class="card">

                <div class="card-content">
                   
                    <!-- table head dark -->
                    <div class="table-responsive">
                        <table class="table table-lg">

                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th> {% trans 'Name' %}</th>
                                    <th> {% trans 'Status' %}</th>
                                    <th> {% trans 'Som' %}</th>
                                    <th> {% trans 'Date' %}</th>
                              
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in tarif %}
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
        
                                        <div class="modal fade text-left" id="inlineForm{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel33">Tarifni tahrirlash</h4>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="{% url 'edit_tarif' i.id %}" method="post">
                                                            {% csrf_token %}
                                                            <div class="form-group mb-1">
                                                                <label for="name" class="form-label">name</label>
                                                                <input type="text" name="name" required id="name" class="form-control" value="{{i.name}}" placeholder="Name">
                                                            </div>
    
                                                            <div class="form-group mb-1">
                                                                <label for="status" class="form-label">Status</label>
                                                                <select name="status" id="status" class="form-control">
                                                                    {% for f in status %}
                                                                    {% if i.get_status_display  == f.1 %}
                                                                    <option value="{{ f.0 }}">{{ i.get_status_display }}</option>
                                                                    {% else %}
                                                                    <option value="{{ f.0 }}">{{ f.1 }}   </option>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="form-group mb-1">
                                                                <label for="amount" class="form-label">{% trans 'Som' %}</label>
                                                                <input type="number" name="amount" required id="amount" value="{{i.amount}}" class="form-control">
                                                            </div> 
    
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                                                   
                                                                    <span > {% trans 'Close' %}</span>
                                                                </button>
                                                                <button type="submit" class="btn btn-primary ms-1">
                                                                    
                                                                    <span > {% trans 'Save' %}</span>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                            
                                    </div>
             
                    </div>
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td class="text-bold-500">   {% if request.user.is_main %}  <a href=""    data-bs-toggle="modal"
                                            data-bs-target="#inlineForm{{i.id}}">{{i.name}} </a> {% else %}  {{i.name}} {% endif%}</td>
                                        <td>{{i.get_status_display}} </td>
                                        <td >{{i.amount}}</td>
                                        <td>{{ i.created |date:"d-m-Y"}}</td>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}