{% extends 'wrapper.html' %}
{% block content %}
{% load i18n %}

<section class="section">
    <div class="row" id="table-head">
        <div class="container mt-5">
            <div class="d-flex justify-content-between">
              <div class="text-start">
                <h5 class="text-bold-500"> {% trans 'Teacher' %}</h5>
              </div>
              <div class="text-end">
                <div class="col-md-6 col-12">
                                <div class="form-group">
                                    {% if request.user.is_main %}
                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#inlineForm">
                                        {% trans 'Add' %} 
                                    </button>
                                    {% endif %}
                                    <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel33"> {% trans ' Tariffs' %}</h4>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'add_teacher' %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group mb-1">
                                                            <label for="username" class="form-label">Username</label>
                                                            <input type="text" name="username" required id="username" class="form-control" placeholder="Username">
                                                        </div>
                                                        <div class="form-group mb-1">
                                                            <label for="phone" class="form-label"> {% trans 'Phone' %}</label>
                                                            <input type="text" name="phone"  required id="phone" class="form-control" placeholder="Phone">
                                                        </div>
                                                        <div class="form-group mb-1">
                                                            <label for="type" class="form-label">{% trans 'Position' %}</label>
                                                            <select name="type" id="type" class="form-control">
                                                                {% for i in type %}
                                                                <option value="{{ i.0 }}">{{ i.1 }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="form-group mb-1">
                                                            <label for="password" class="form-label">Password</label>
                                                            <input type="password" name="password" required id="password" class="form-control">
                                                        </div> 
                                                        <div class="form-group mb-1">
                                                            <label for="password_2" class="form-label">Confirm Password</label>
                                                            <input type="password" name="password_2" required id="password_2" class="form-control" >
                                                        </div>
                                                        
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                                               
                                                                <span > {% trans 'Close' %}</span>
                                                            </button>
                                                            <button type="submit" class="btn btn-primary ms-1">
                                                                
                                                                <span > {% trans 'Save' %}</span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                        
                                </div>
         
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>


        <div class="col-12">

            
            <div class="card">

                <div class="card-content">
                   
                    <!-- table head dark -->
                    <div class="table-responsive">
                        <table class="table table-lg">

                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>  {% trans 'Name' %}</th>
                                    <th> {% trans ' Phone' %}</th>
                                    <th>{% trans 'Position' %}</th>
                                    <th>  {% trans 'Group' %}</th>
                                    <th> {% trans 'Tariff' %}</th>
                                   
                                    <th>{% trans 'Attendance' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in teacher_attendance %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td class="text-bold-500"> 
      {% if request.user.is_main %}  
      <a href="{% url 'teacher_detail' item.teacher.id %}"> {{ item.teacher.username }}</a>
      {% else %}
      {{ item.teacher.username }}
      {% endif %}
    </td>
    <td>{{ item.teacher.phone }} </td>
    <td>{{ item.teacher.get_type_display }}</td>
    <td>
        {% if item.teacher.group_teachers %}
            {{ item.teacher.group_teachers.name }}
        {% elif item.teacher.group_helpers %}
            {{ item.teacher.group_helpers.name }}
        {% else %}
            None
        {% endif %}
    </td>
    <td>{{ item.teacher.tarif }} </td>
    <td>
        <div class="form-check form-switch col-3">
            <input class="form-check-input" name="attendance_{{ item.teacher.id }}" type="checkbox" id="flexSwitchCheckDefault_{{ item.teacher.id }}" 
            {% if item.attendance and item.attendance.is_active %}checked{% endif %} onchange="updateAttendance(`{{ item.teacher.id }}`, this.checked)">
            <label class="form-check-label" for="flexSwitchCheckDefault_{{ item.teacher.id }}">Davomat</label>
        </div>
    </td>
</tr>
{% endfor %}

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
function updateAttendance(teacer_id, is_active) {
    fetch('{% url "update-attendance-teacer" %}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: new URLSearchParams({
            'teacer_id': teacer_id,
            'is_active': is_active
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status !== 'success') {
            // alert('Davomat yangilanmadi!');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        // alert('Davomat yangilanmadi!');
    });
}
</script>

{% endblock content %}